{% block content %}
    <div class = 'card'>
        Add a new item or ability! <br>
        <form method = "POST" enctype = "multipart/form-data">
            <input type = "text" name = "itemname" placeholder = "enter item or ability name"/>
            <input type = "number" name = "uses" placeholder ="Number of uses"/>
            <select name = "type">
                    <option value = 1>one time use item ( like a potion)</option>
                    <option value = 2>rechargable item (like a magic helmet)</option>
                    <option value = 3>Daily limited ability ( like bardic music)</option>
            <input type = "submit" value = "Select!"/>
        </form>
    </div>
{% endblock %}
