{% extends 'base.html' %}

{% block content %}
        <div class = "card">
            <h3> Select one of {{g.charname}}'s items to recharge</h3>
            <form method = "POST" enctype = "multipart/form-data">
                <select name = "itemCharge">
                    {% for item in items %}
                        <option value = '{{item.id}}'>{{item.name}} ( current charges:{{item.current}})</option>
                    {% endfor %}
                <input type = "number" name = "numCharge" placeholder ="number of charges to add"/>
                <input type = "submit" value = "Recharge!"/>
            </form>
        </div><br>
        <div class = "card">
            <a href = "/"><button type = "button"> Go back to the spells page </button></a>
        </div>
{% endblock %}
