{% extends 'base.html' %}

{% block content %}
    <div class = "left">
        {% include 'addspell.html' %}<br>
        <div class = "card">
            <h3> {{g.charname.name}}'s spells </h3>
            {% for spell in spells %}
                    Spell: {{spell.spellname}}(Spell Level:{{spell.cooldown}}) Cooldown: {{spell.current}}
                    {% if spell.current == 0 %}   <i class="rdy"> READY!</i> {% endif %}
                    {% if spell.current != 0 %}   <i class="notrdy"> on cooldown</i> {% endif %}
                    <br>
                    {% if spell.current == 0 %}
                        <a href ="/cast/{{spell.id}}">Cast {{spell.spellname}} </a>
                    {% endif %}
                    {% if spell.current != 0 %}
                        <del>Cast {{spell.spellname}} </del> Not ready
                    {% endif %}
                    <br><br>
            {% endfor %}
    	</div>
    	<div class = "card"><br>
            <a href = "/takeTurn"> Press at the end of your turn!  </a><br>
        </div>
    </div>
    <div class = "right">
        {% include 'addItem.html' %}<br>
        <div class = "card">
            <h3> {{g.charname.name}}'s Items and abilities </h3>
            {% for item in items %}
                <i>{{item.name}}</i>   Uses: {{item.current}}
                {% if item.current !=0 %}<a href = "/use/{{item.id}}"> Use {{item.name}} </a>{% endif %}
                {% if item.current == 0 %}
                    {% if item.renewable == 2 %}<i class = "notrdy"> {{item.name}} is all used up for the day.</i> Take a long rest to replenish it! {% endif %}
                    {% if item.renewable == 3%} <i class= "notrdy"> {{item.name}} has lost it's charge! </i> find someone who can recharge it for you. {% endif %}
                {% endif %}<br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
