{% extends 'base.html' %}

{% block content %}
    {% include 'addspell.html' %}<br>
    <div class = "card">
        <h3> {{g.charname.name}}'s spells </h3>
        {% for spell in spells %}
                Spell: {{spell.spellname}} Cooldown: {{spell.current}}<br>
                {% if spell.current == 0 %}
                    <a href ="/cast/{{spell.id}}">Cast {{spell.spellname}} </a>
                {% endif %}
            <br>
        {% endfor %}
	</div>
	<div class = "card"><br>
        <a href = "/takeTurn"> Press at the end of your turn!  </a><br>
    </div>
{% endblock %}
