{#Ethan Smith#}
{# This is a page template, which the whole website uses, that's how it shares a common nav at the top #}


<!doctype html>
<html>
  <head>
    <title> CS3200 application </title>
  </head>
  <link rel="stylesheet" href ="/static/style.css">
  <header>
    <a href="/"> Home </a><br>
    <a href='/s/rooms'> rooms </a><br>
    <a href='/s/hotel'> Hotels </a><br>
    <a href='/s/reservation'> Reservations </a><br>
    <a href='/s/customers'> Customers </a><br>
    <a href="/s/staff"> Staff </a> <br>
    <br>
    <a href='/search'> Search </a><br>
    <a href="/insert"> Add something new </a><br>
  </header>
  <body>
      <br>
      {{stuff}}
      <br>
    {% block bdy %}
    {% endblock %}
  </body>
</html>
